*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
text-align: center;
}

p{
  font-size: 1.5rem;
  text-align: right;
}

span{
  font-size: 1.9rem;
  text-align: left;
}
